---
import { LocationGalleryCarousel } from "@/components/locations/LocationGalleryCarousel"
import type { LocationDetail } from "@/components/locations/types"
import { PannaRestaurantGuruBadge } from "@/components/site/PannaRestaurantGuruBadge"

interface Props {
	location: LocationDetail
}

const { location } = Astro.props
const overviewTitleId = `${location.slug}-overview-title`
---

<section class="location-overview" aria-labelledby={overviewTitleId}>
	<h2 id={overviewTitleId} class="sr-only">
		{location.title} restaurant overview
	</h2>

	<div class="panna-shell location-overview__inner">
		<div class="location-overview__gallery">
			<LocationGalleryCarousel
				images={location.gallery}
				locationName={location.title}
				client:visible={{ rootMargin: "200px" }}
			/>
		</div>

		<div class="location-overview__content">
			<PannaRestaurantGuruBadge
				href={location.guruHref}
				placeName={location.badgeName}
				className="location-overview__badge"
			/>

			<div class="location-overview__copy">
				{location.overviewParagraphs.map((paragraph) => (
					<p>{paragraph}</p>
				))}

				<p>
					<strong>{location.overviewHighlight}</strong>
				</p>

				<ul>
					{location.overviewBullets.map((bullet) => (
						<li>{bullet}</li>
					))}
				</ul>
			</div>
		</div>
	</div>
</section>
